@media (min-width:1000px) {

    .presentacion{
        font-size: 1.2em;
        padding: 0.5em;
        margin: 0 1.5em;
        border-radius: 8px;
    }

    .text-align-in-card{
        text-align: justify;
    }
}

@media (max-width: 1200px){
    .contact-form-img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
}

@media (max-width:999px) {

    .accordion{
        width: 400px !important;
    }

    .text-align-in-card{
        text-align: left;
    }

    .navbar-mobile{
        display: block;
        font-family: "Bebas Neue", sans-serif;
        background-color: map-get($color, nav-color);
        color: map-get($color, font-color)
    }



    .bloques-grid{
        margin: 0px;
        padding: 0px;
        width:100%;
        overflow-x:visible;
        max-height: calc(11.8 * 310px); /* calcula tres filas de 200 px y añade espacio para compensar el gap. El borde no cuenta porque uso border-box */
    }

    .presentacion{
        padding: 4px;
        margin-top: 1.8em;
        margin-right:0;
        margin-left: 0;
        width: auto;
    }
}

@media (max-width: 400px){
    
    .bloques-grid{
        margin: 0px;
        padding: 0px;
        width:100%;
        overflow-x:visible;
    }

    .presentacion{
        padding: 4px;
        margin-top: 1.8em;
        margin-right:0;
        margin-left: 0;
        width: auto;
    }
    
    .logo-unr-navbar{
        display: none
    }

    .proxima_reunion{
        margin-bottom: 10px;
    }
}

@media (min-width: 550px){
    .navbar-title{letter-spacing: 0.1em;}
}