$color: (
    background-color: #292c3d,
    nav-bg-color: #3d425c,
    font-color: #c0caf4,
    highlight-color: #a9578c,
    other-highlight-color: rgb(255, 71, 71),
    red-tag: #ff4747,
    maint-title: white,
    text-color: white,
    nav-highlight:#ff69b4,
    nav-text: white,
    nav-link: #c8d2fd,
    main-title: white,
    miembro-bg-color: lightgrey,
);