body {
    background-color: #292c3d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // margin-top: 60px; 
}

main {
    margin: 10px 20px;
}


a {
    text-decoration: none;
}


footer {
    background-color: #101325;
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: auto;
    align-items: center;
    
    p {
        color: #888992;
    }
    
    a {
        color: #888992;
        font-size: 1.5em;
    }
}

header {
    padding: 0em;
    margin:15px;
    margin-bottom: 60px;
}

p {
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: justify;
    margin: 1em;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
    padding: 1em 2em;
}

.flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
