figure{
    @extend .flex-center;

    img{
        margin: 0em 1em; 
        border-radius: 5px;
        width: 100%;
        object-fit: cover;
        object-position: 0% 55%;
        max-height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}