
.navbar-brand{
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 1.2em;
}

.navbar{
    display: block;
    font-family: "Bebas Neue", sans-serif;
    background-color: map-get($color, nav-color);
    color: map-get($color, font-color);
    font-size: 1.2em;
}

.navbar-item{
    letter-spacing: 0.05em;
}
.navbar-background {
    background-color: map-get($color, nav-bg-color);
}

.nav-item--active a{
    text-decoration: none;
    color: white ;
    text-decoration: underline map-get($color , other-highlight-color) 3px;
    text-underline-offset: 4px;
    letter-spacing: 0.05em;
}


.nav-item a:hover {
    color: map-get($color, nav-highlight);
}

.nav-item a:active {
    color: map-get($color, red-tag);
}

.navbar__logo {
    display: flex;
    justify-content: center;
    height: 50px;
}


.navbar-toggler{
    padding: 6px;
}

.navbar-toggler-icon{
    width: 1em;
    height: 1em;
}

#logo-fhumyar {
    height: 40px;
    opacity: 50%;
}
