@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@600&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292c3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 10px 20px;
}

a {
  text-decoration: none;
}

footer {
  background-color: #101325;
  padding: 1em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: auto;
  align-items: center;
}
footer p {
  color: #888992;
}
footer a {
  color: #888992;
  font-size: 1.5em;
}

header {
  padding: 0em;
  margin: 15px;
  margin-bottom: 60px;
}

p {
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-align: justify;
  margin: 1em;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  padding: 1em 2em;
}

.flex-center, .circle, .actividades, .proxima_reunion, .grupo-actividades, .contenedor-grupo-actividades, figure, .btn-plus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-bounce {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10em;
  animation: bounce 2s ease infinite;
  background: #a9578c;
  color: lightgrey;
}

.animate-bounce:hover {
  background: #ff4747;
  color: white;
}

.bloques:nth-child(odd):hover {
  filter: brightness(115%) drop-shadow(0.5em 0.5em #67184f) opacity(100%);
  transform: rotate(3deg);
}
.bloques:nth-child(odd):hover .autor {
  color: #a9578c;
}
.bloques:nth-child(odd):hover .label {
  background-color: #a9578c;
}
.bloques:nth-child(odd):hover .btn-rojo {
  background-color: #a9578c;
}

.bloques:nth-child(even):hover {
  filter: brightness(115%) drop-shadow(0.5em 0.5em #67184f) opacity(100%);
  transform: rotate(-3deg);
}
.bloques:nth-child(even):hover .autor {
  color: #a9578c;
}
.bloques:nth-child(even):hover .label {
  background-color: #a9578c;
}
.bloques:nth-child(even):hover .btn-rojo {
  background-color: #a9578c;
}

h1 {
  font-family: "Bebas Neue", serif;
  font-size: 4em;
  color: white !important;
}

h2 {
  color: #a9578c;
  text-transform: uppercase;
  font-family: "Ubuntu";
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  text-align: center;
}

h3 {
  color: #c0caf4;
  font-family: "Ubuntu";
  font-style: italic;
  margin-bottom: 0.5em;
  text-align: center;
  margin-top: 1.5em;
}

.navbar-brand {
  font-family: "Bebas Neue", sans-serif !important;
  font-size: 1.2em;
}

.navbar {
  display: block;
  font-family: "Bebas Neue", sans-serif;
  color: #c0caf4;
  font-size: 1.2em;
}

.navbar-item {
  letter-spacing: 0.05em;
}

.navbar-background {
  background-color: #3d425c;
}

.nav-item--active a {
  text-decoration: none;
  color: white;
  text-decoration: underline rgb(255, 71, 71) 3px;
  text-underline-offset: 4px;
  letter-spacing: 0.05em;
}

.nav-item a:hover {
  color: #ff69b4;
}

.nav-item a:active {
  color: #ff4747;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  height: 50px;
}

.navbar-toggler {
  padding: 6px;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

#logo-fhumyar {
  height: 40px;
  opacity: 50%;
}

.btn-rojo {
  background-color: #ff4747;
  color: white !important;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.btn-rojo:hover {
  color: white;
  filter: brightness(115%);
  zoom: 105%;
}

.btn-seemore {
  background-color: #a9578c;
  color: white;
  margin: 1em;
  align-self: center;
}

.btn-plus {
  margin: 2em 0em;
}

.miembros {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.miembros p {
  font-weight: 100;
  color: #292c3d;
  text-align: center;
}
.miembros h4 {
  color: #a9578c;
  font-weight: 500;
  text-align: center;
}
.miembros .miembro {
  width: 183px;
  align-items: center;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 1em;
}
.miembros img {
  margin: 0;
  width: 150px;
  height: 150px;
  object-fit: scale-down;
  border-radius: 4px;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  filter: drop-shadow(0 0 0.45rem #3d425c) grayscale(0.2) opacity(0.85);
}

.bloques-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 2em;
  max-height: 1085px; /* calcula tres filas de 200 px y añade espacio para compensar el gap. El borde no cuenta porque uso border-box */
  overflow-y: hidden;
  margin: 1em;
  mask: linear-gradient(0deg, transparent, white 20%, white);
  padding: 1em;
}
.bloques-grid .bloques {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  justify-items: center;
  justify-items: center;
  background-color: lightgray;
  border: none;
  padding: 1em 0.5em;
  border-radius: 8px;
  grid-gap: 0em !important;
}
.bloques-grid .bloques .bloques--resumen {
  color: #292c3d;
  line-height: 1.7em;
  margin: 0 1em;
}

.label {
  background-color: rgb(255, 71, 71);
  padding: 3px 1em;
  border-radius: 1em;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.2em;
  display: inline;
}

.autor {
  color: rgb(255, 71, 71);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.presentacion {
  background: #a9578c;
  padding: 4px;
  margin: 1.8em;
}

figure img {
  margin: 0em 1em;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  object-position: 0% 55%;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div {
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-align: left;
  margin: 0em 0.2em;
}

input, textarea {
  background-color: #292c3d;
  color: white;
  text-transform: uppercase;
  border: none;
  border-bottom: solid 1px white;
  field-sizing: content;
}

textarea {
  border: solid;
}

.contact-form {
  border: solid 1px #a9578c;
  border-radius: 6px;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.contact-form-img {
  width: 500px;
  max-width: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.presentacion-actividades {
  background: #a9578c;
}

.grupo-actividades {
  gap: 2em;
  margin: 4em 0em;
  max-width: 1320px;
}

.proxima_reunion {
  font-family: "Ubuntu";
  font-size: 3em;
  gap: 1em;
  row-gap: 0.2em;
  align-items: center;
  border: solid white 1px;
  border-radius: 8px;
  margin: 0 20px;
  padding: 10px;
}

.bi-calendar4-week {
  font-size: 2em;
}

.pills-group {
  text-align: center;
  line-height: 200%;
  gap: 1em;
}

.burbuja {
  font-size: 10em;
  justify-content: center;
  align-content: center;
  text-shadow: 1px 1px 2px black;
}

.actividades {
  width: 30%;
  min-width: 250px;
  gap: 1em;
}

.circle {
  position: relative;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background-color: #bbb;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(85, 85, 85) 100%);
}

.publicacion {
  background-color: lightgray;
  padding: 0.5em;
  border-radius: 8px;
  margin-bottom: 2em;
  margin-top: 2em;
}
.publicacion p {
  color: #292c3d;
  line-height: 1.7em;
}

.consulta {
  width: 100%;
  border: white 1px solid;
  border-radius: 4px;
  padding: 1em;
}

@media (min-width: 1000px) {
  .presentacion {
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0 1.5em;
    border-radius: 8px;
  }
  .text-align-in-card {
    text-align: justify;
  }
}
@media (max-width: 1200px) {
  .contact-form-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}
@media (max-width: 999px) {
  .accordion {
    width: 400px !important;
  }
  .text-align-in-card {
    text-align: left;
  }
  .navbar-mobile {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    color: #c0caf4;
  }
  .bloques-grid {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: visible;
    max-height: 3658px; /* calcula tres filas de 200 px y añade espacio para compensar el gap. El borde no cuenta porque uso border-box */
  }
  .presentacion {
    padding: 4px;
    margin-top: 1.8em;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }
}
@media (max-width: 400px) {
  .bloques-grid {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: visible;
  }
  .presentacion {
    padding: 4px;
    margin-top: 1.8em;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }
  .logo-unr-navbar {
    display: none;
  }
  .proxima_reunion {
    margin-bottom: 10px;
  }
}
@media (min-width: 550px) {
  .navbar-title {
    letter-spacing: 0.1em;
  }
}

/*# sourceMappingURL=styles.css.map */
